.com{
    font-family: 'Rufina';
    padding-top: 8vw;
    text-align: center;
    --theme:#BC8AB3;
    --weigth:400
   
}
#flower50{
    height: 90vh;
    width: auto;
    margin-top:5vmin;
}
.hero h1{
    color:var(--theme);
font-size: 9vw;
font-weight: var(--weigth);
margin-top: 2vmin;
margin-bottom:1vmin;
}
.hero h3{
    color: #828282;
    font-size: 2.5vw;
    font-weight: var(--weigth);
    margin-bottom: 1vmin;
    margin-top:0;
}
.subH1{
    color: var(--theme);
    font-size: 7vw;
    font-weight: var(--weigth);
}
.works img{
width: 65vw;
height: auto;
}

.threeSteps
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.threeSteps img{
width:10vw;
height: 10vw;
}
.threeSteps p{
    font-family: 'Ibarra Real Nova', serif;
    font-size: 2.2vw;
    color: #4F4F4F;
}
.threeSteps h2{
font-size: 3.54vw;
font-weight: var(--weigth);
}
#save{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: var(--weigth);
    color: #828282;
    font-size: 2.5vw;

}
#voucher{
width: 65vw;
height: auto;
}
.challenge{
    display: flex;
    flex-direction: row;
    color: #828282;
    gap:0 4vw;
    height: 65vw;
}
.challenge>*{
flex: 1;
}
.challenge img{
height: 100%;
}
.challenge p{
    font-size: 2vw;
    padding-top: 13vw;
    padding-left: 2vw;
}
.contribution h1{
     color: #162A46;
     font-size: 7.1vw;
     font-weight: var(--weigth);

}
.comDescribe h1{
    color:#38761D;
    font-size: 4.7vw;
    font-weight: var(--weigth);

}
.comDescribe img{
    width: 40vw;
    height: auto;
}
.comDescribe p{
    color: #4F4F4F;
    padding: 2vw 6vw; 
    font-size: 2vw;
}
@media screen and (min-width:320px) and (max-width:960px) {
    .com{
        padding-top: 7vh;
    }
#flower50{
    object-fit: unset;
    width: 60vw;
    height:70vw;
}
.works img{
    object-fit: unset;
    width: 100vw;
    height:70vw;
}
}